{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h2 class="my-4">Our Wines</h2>
    <div class="row">
        {% for wine in wines %}
        <div class="col-md-4 mb-4">
            <div class="card h-100 d-flex align-items-center px-2 py-2">
                <img src="{{ wine.image.url }}" class="card-img-top" alt="{{ wine.name }}">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ wine.name }}</h5>
                    <p class="card-text">{{ wine.description }}</p>
                    <p class="card-text"><strong>Year:</strong> {{ wine.year }}</p>
                    <p class="card-text"><strong>Rating:</strong> {{ wine.rating }} / 5</p>
                </div>
                <div class="card-footer">
                    <p class="card-text"><strong>Price:</strong> £{{ wine.price|floatformat:2 }}</p>
                    <a href="{% url 'wine_detail' wine.id %}" class="btn btn-success">View Details</a>
                    <a href="{% url 'shop_home' wine.id %}" class="btn btn-light"></a>
                </div>

            </div>
        </div>
        {% endfor %}    
    </div>
</div>
{% endblock %}

