{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="overlay p-3">
    <div class="container">
        <div class="row">
            {% for wine in wines %}
            <div class="col-md-4 mb-4">
                <div class="card h-100 d-flex align-items-center px-2 py-2">
                    {% if wine.image %}
                    <img src="{{ wine.image.url }}" class="card-img-top" alt="{{ wine.name }}">
                    {% else %}
                    <img src="{% static 'images/placeholder.png' %}" class="card-img-top" alt="No image available">
                    {% endif %}
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ wine.name }}</h5>
                        <p class="card-text">{{ wine.description }}</p>
                        <p class="card-text"><strong>Year:</strong> {{ wine.year }}</p>
                        <p class="card-text"><strong>Rating:</strong> {{ wine.rating }} / 5</p>
                    </div>
                    <div class="card-footer text-center">
                        <p class="card-text"><strong>Price:</strong> £{{ wine.price|floatformat:2 }}</p>
                        <a href="{% url 'wine_detail' wine.id %}" class="btn btn-success mb-2">View Details</a>  
                        <form class="form" action="{% url 'view_cart' %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-outline-secondary" type="button"
                                            id="decrement-btn-{{ wine.id }}">-</button>
                                    </div>
                                    <input type="number" class="form-control qty_input" name="quantity" value="1"
                                        min="1" max="99" id="qty-{{ wine.id }}">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button"
                                            id="increment-btn-{{ wine.id }}">+</button>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            <button type="submit" class="btn btn-black mt-2">
                                <i class="fas fa-shopping-cart mr-1"></i> Add to Cart
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}