{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!--Meta Tags-->
    {% block meta %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% endblock %}
    {& block extra_meta %}
    {% endblock %}

    <!--End of Meta Tags-->
    <title>The Cellar</title>
    <!--Bootstrap CSS-->
    {% block core_css %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFld6+Q6d8e5a" crossorigin="anonymous">
    {% endblock %}
    <!--End of Bootstrap CSS-->
    <!--Custom CSS-->
    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'css/extra.css' %}">
    {% endblock %} 
    <!--End of Custom CSS-->
    <!--Bootstrap Bundle JS-->
    {% block core_js %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
    {% endblock %}
    <!--End of Bootstrap Bundle JS-->
    <!--Custom JS-->
    {% block extra_js %}
        <script src="{% static 'js/script.js' %}"></script>
    {% endblock %}
    <!--End of Custom JS-->
  </head>
  <body>
    
  </body>
</html>